<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  Hola Jesica!!!!
  <form action="/quotes" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Submit</button>
  </form>
  <form action="/canciones" method="GET">
    <button type="submit">Ver Canciones</button>
  </form>
  <form action="/cancion" method="POST">
    <input type="text" placeholder="Nombre" name="Nombre">
    <button type="submit">Submit</button>
  </form>
</body>
</html>
