<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  Pagina para cargar canciones
  <form action="/canciones" method="GET">
    <button type="submit">Ver Canciones</button>
  </form>
  <form action="/cancion" method="POST">
    <input type="text" placeholder="Nombre" name="Nombre">
    <button type="submit">Submit</button>
  </form>
</body>
</html>
