<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
  <body>
    <% if(error == "true"){ %>
            <%= mensaje %>
    <% } %>
    <form action="/login" method="POST">
      <input type="text" size="40" placeholder="Id de evento" name="idEvento"><br />
      <input type="text" size="40" placeholder="Pass de evento" name="passEvento"><br />
      <button type="submit">Login </button>
    </form>
  </body>
</html>
